[user]
	name = Nishant Gaglani
	email = nishant.gaglani@workmail.com
[includeIf "gitdir:~/workdir/"]
	# this is local .gitconfig path containing work name and email
	path = ~/workdir/.gitconfig-work
[includeIf "gitdir:~/personaldir/"]
	path = ~/personaldir/.gitconfig-personal
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
# Add this to automatically set the upstream
[push]
	autoSetupRemote = true
# Add this to remove git diffs from the terminal
[pager]
	diff = less -+F -+X
